
body{
    background: #848181;
}
.container{
    background: #e5e5e5;
    border-radius: 50px;
    min-height: 350px;
    max-width: 60%;
    min-width: fit-content;
    margin: auto;
}
.wapper{
    transform: translate(0%,40%);
}
h1,h2{
    text-align: center;
    margin-bottom: 20px;
}
/* table{
    margin: auto;
    border:"1px" ;
    width:600px; 
    line-height:40px;
}
tr> th{
    text-align: center;
} 
tr>th{
    background-color: black;
    color: white;
} */

form{
    margin: auto;
    display: grid;
    grid-template-columns: 10% 40%;
    justify-content: center;
    gap: 10%;
    row-gap: 40%;
    align-items: center;
    /*flex-flow: row wrap;
    max-width: 40%; */
}
.text{
    padding: 5px   ;
    border-radius: 5px;
}
/* .none{
    text-decoration: none;
} */